body {
	background: #00539F;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #00539F, #00294f);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #00539F, #00294f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

hr {
	border-top-color: #fff;
}

.font-playfair {
	font-family: 'Playfair Display', serif;
}
